@model IEnumerable<MmaManager.Models.Transaction>

@{
    ViewBag.Title = "Financial";
}

<h2>Transaction History</h2>
<h3>Your Worth: @string.Format("{0:C}",ViewBag.worth)</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>        
        <th>            
            Incoming/Outgoing
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            Details
        </th>
        <th></th>
    </tr>
    @{ var sum = (decimal)0.0; }
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
        <td>
           @{
               if(item.FromUser==User.Identity.Name)
               {
                   <div>Outgoing</div>
                    sum -= item.Amount;
               }
               else
               {
                   <div>Incoming</div>
                   sum += item.Amount;
               }
}
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>            
            @{
                if (item.FightListingID != null) 
                { //TODO: Make it show fight listing details, not transactions details
                    @Html.ActionLink("Fight Listing", "Details", new { id = item.FightListingID , controller = "FightListings"})
                }
                else if(item.FighterID!=null)
                {
                    @Html.ActionLink("Fighter", "Details", new { controller = "fighters",ID=item.FighterID})
                }
             }
        </td>
    </tr>
}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>@sum</td>
        <td></td>
    </tr>
</table>
