@using Domain.Models
@model Fighter

@{
    ViewBag.Title = "Details";
}

@helper GetResult(Fighter fighter,FightListing listing)
{
    if (listing.FightResult == FightResult.NC || listing.FightResult == FightResult.Draw)
    {
        <td>@listing.FightResult.ToString()</td>
    }
    else if (listing.BlueFighterFighterID == fighter.FighterId)
    {
        if (listing.FightResult == FightResult.BlueWin)
        {
            <td> Win </td>
        }
        else
        {
            <td> Loss </td>
        }
    }
    else
    {
        if (listing.FightResult == FightResult.RedWin)
        {
            <td> Win </td>
        }
        else
        {
            <td> Loss </td>
        }
    }
}
<h2>Details</h2>

<div>
    <h4>Fighter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstMidName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstMidName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ranking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ranking)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Division)
        </dt>
        <dd>
            @Html.Raw(String.Join(", ", Model.Division))
        </dd>
        <dt>
            @Html.Raw("<b> UFC Record </b>")
        </dt>
        <dd>
            @Html.Raw(Model.GetRecord())
        </dd>
    </dl>
    <table>
        <tr>
            <th>Result</th>
            <th>Opponent</th>
            <th>Method</th>
            <th>Event Name</th>
            <th>Date</th>
            <th>Round</th>
            <th>Time</th>
        </tr>
        @foreach (var fight in Model.FightListings)
        {
            <tr>
                @GetResult(@Model,fight)
                <td>
                    @(@fight.BlueFighterFighterID == @Model.FighterId ? fight.RedFighter.FullName : fight.BlueFighter.FullName)
                </td>
                <td>@fight.WinType</td>
                <td>@fight.Event.Name</td>
                <td>@fight.Event.Date.ToShortDateString()</td>
                <td>@fight.WinRound</td>
                <td>@fight.WinTime</td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FighterId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
