@model IEnumerable<MmaManager.Models.Ownership>

@{
    ViewBag.Title = "My Fighters";
}

<h2>My Fighters</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fighter.FirstMidName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fighter.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fighter.Nickname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fighter.Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fighter.Reach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fighter.Ranking)
        </th>
        <th>
            Purchase Date
        </th>
        <th>
            Zuffa Record
        </th>
        <th>
            Ownership Record
        </th>
        <th>
            Net Income
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fighter.FirstMidName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fighter.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fighter.Nickname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fighter.Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fighter.Reach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fighter.Ranking)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transaction.TimeStamp)
        </td>
        <td>
            @Html.Raw(item.Fighter.GetRecord())
        </td>
        <td>
            @Html.Raw(((MmaManager.Controllers.FightersController)this.ViewContext.Controller).GetOwnershipRecord(item.OwnershipID))
        </td>
        <td> 
            @Html.Raw(((MmaManager.Controllers.FightersController)this.ViewContext.Controller).GetNetIncome(item.OwnershipID).ToString())
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FighterID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FighterID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FighterID }) |
        </td>
    </tr>
}

</table>
