@model IEnumerable<Domain.Models.Ownership>

@{
    ViewBag.Title = "Fighter Marketplace";
}

<h2>Fighter Marketplace</h2>

@using (Html.BeginForm())
{
    <p>
        Name / nickname: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Filter" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fighter.FirstMidName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fighter.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fighter.Nickname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fighter.Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fighter.Reach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fighter.Division)
        </th>
        <th>
            Record
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fighter.Ranking)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceRequested)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fighter.FirstMidName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fighter.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fighter.Nickname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fighter.Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fighter.Reach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fighter.Division)
        </td>
        <td>
            @item.Fighter.GetRecord()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fighter.Ranking)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceRequested)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { controller = "UnderContract", id=item.FighterID }) |
            @Html.ActionLink("Buy Fighter", "BuyFighter", new { ownershipId = item.OwnershipID})

        </td>
    </tr>
}

</table>
