@model IEnumerable<MmaManager.Models.Ownership>

@{
    ViewBag.Title = "Fighter Marketplace";
}

<h2>Fighter Marketplace</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fighter.FirstMidName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fighter.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fighter.Nickname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fighter.Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fighter.Reach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fighter.Ranking)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceRequested)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fighter.FirstMidName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fighter.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fighter.Nickname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fighter.Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fighter.Reach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fighter.Ranking)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceRequested)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { controller = "Fighters", id=item.FighterID }) |
            @Html.ActionLink("Buy Fighter", "BuyFighter", new { ownershipId = item.OwnershipID, username = User.Identity.Name })

        </td>
    </tr>
}

</table>
