@model IEnumerable<MmaManager.ViewModels.OnSaleOwnershipViewModel>

@{
    ViewBag.Title = "Fighter Marketplace";
}

<h2>Fighter Marketplace</h2>

@using (Html.BeginForm())
{
    <div>
        Name / nickname: @Html.TextBox("SearchString") <input type="submit" value="Filter" />
    </div>
    <br/>
}
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ownership.Fighter.FirstMidName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ownership.Fighter.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ownership.Fighter.Nickname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ownership.Fighter.Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ownership.Fighter.Reach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ownership.Fighter.Division)
        </th>
        <th>
            Record
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ownership.Fighter.Ranking)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ownership.PriceRequested)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ownership.Fighter.FirstMidName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ownership.Fighter.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ownership.Fighter.Nickname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ownership.Fighter.Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ownership.Fighter.Reach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ownership.Fighter.Division)
        </td>
        <td>
            @item.Ownership.Fighter.GetRecord()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ownership.Fighter.Ranking)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ownership.PriceRequested)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { controller = "UnderContract", id = item.Ownership.FighterID }, new { @class = "details-link" })
            @if (item.CanBuy)
            {
                @Html.ActionLink("| Buy Fighter", "BuyFighter", new { ownershipId = item.Ownership.OwnershipID })
            }

        </td>
    </tr>
}

</table>
